### Using Pandas to Get Familiar With Your Data


***The first step in any machine learning project is familiarize yourself with the data. You'll use the Pandas library for this. Pandas is the primary tool data scientists use for exploring and manipulating data. Most people abbreviate pandas in their code as pd. We do this with the command***

What kind of data does pandas handle ?

In [1]:
#import modules
import pandas as pd

In [2]:
#Checking version in pandas
print(pd.__version__)

1.2.4

In [5]:
# display all pandas properties 
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

 #### Pandas can be grouped into two data structure catergories:
 * 1. Series
 * 2. Dataframe

## Pandas Series

* Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers,
* Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is to call

***Here is an illustrative examples of the total points obtained from the top six 2021/2022 European league winners.***

In [8]:
#initializing a variable t6_pts to store the points obtained
t6_pts = pd.Series([93,86,77,89,86,83])
t6_pts

0    93
1    86
2    77
3    89
4    86
5    83
dtype: int64

In [10]:
# Declaring a name to our series data
t6_pts.name = 'Top six league winners'
t6_pts

0    93
1    86
2    77
3    89
4    86
5    83
Name: Top six league winners, dtype: int64

In [13]:
#Displaying the datatype and values
t6_pts.dtype

dtype('int64')

In [14]:
t6_pts.values

array([93, 86, 77, 89, 86, 83])

In [17]:
#Displaying the first index 
t6_pts[0]

93

In [18]:
t6_pts.index

RangeIndex(start=0, stop=6, step=1)

In [20]:
#Matching various teams to their respective index

t6_pts.index = [
    
'Manchester City',
'Real Madrid',
'Bayern Muchen',
'AC Milan',
'PSG',
'Ajax',
    
    
    
    
    
    
]

t6_pts

Manchester City    93
Real Madrid        86
Bayern Muchen      77
AC Milan           89
PSG                86
Ajax               83
Name: Top six league winners, dtype: int64

In [21]:
#alternative way using t6_pts = pd.Series(data, index=index)

pd.Series(
    [93, 86, 77, 89, 86, 83],
    index=['Manchester City','Real Madrid', 'Bayern Muchen', 'AC Milan', 'PSG', 'Ajax'],
    name='Top six league winners')

Manchester City    93
Real Madrid        86
Bayern Muchen      77
AC Milan           89
PSG                86
Ajax               83
Name: Top six league winners, dtype: int64

In [22]:
#Displaying some part of the data 
pd.Series(t6_pts, index=['Real Madrid', 'Bayern Muchen', 'AC Milan', ])

Real Madrid      86
Bayern Muchen    77
AC Milan         89
Name: Top six league winners, dtype: int64